<launch>
  <arg name="port" default="/dev/ttyACM0" />
  <arg name="baud" default="9600" />
  <arg name="media_path" default="$(find alert_pi)/media/" />

  <node pkg="rosserial_python" type="serial_node.py" name="bt_serial_human"  output="screen">
    <param name="port" value="$(arg port)" />
    <param name="baud" value="$(arg baud)" />
  </node>

  <node pkg="alert_pi" type="dero_demo.py" name="alert_pi_listener"  output="screen">
    <param name="media_file" value="$(arg media_path)" />
  </node>
</launch>
