<launch>
   <arg name="media_path" default="$(find alert_pi)/media/" />
  <arg name="port" default="tcp" />
  <arg name="baud" default="9600" />

  <node pkg="rosserial_python" type="serial_node_tcp.py" name="esp8266_serial_human"  output="screen">
    <param name="port" value="$(arg port)" />
    <param name="baud" value="$(arg baud)" />
  </node>


</launch>
